//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
// Эта переменная будет и в обнуляющем стиле, везде где это нужно:
$fontfamily: "Lato";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
// В данном макете ширина контейнера только в футере:
$mw: 1130;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	overflow: hidden;
	min-height: 100%;

	// 	&.loaded {
	// 	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;

	// Делаем отступы, чтобы контейнер футера не упирался в края при сужении экрана:
	padding: 0px 15px;
	margin: 0 auto;
	width: 100%;
	// При достижении ширины экрана, которая в (),
	// то ширина контейнера будет которая в {}:
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}

	// all - для всех типов устройств, print - прим. к докам предв.просмотра печати
	//screen - для цветный мониторов, speech - для синтезаторов речи
	// (monochrome) - при открытии на чб экране

	@media all {
	}
	// Для характеристик устройства используем ()
	// orientation: portrait или landscape
	@media (orientation: portrait) {
		// применяем стили для портретной ориентации
	}

	@media (resolution: 300dpi) {
		// применяем стили для конкретного разрешения пикс на дюйм
	}
	// можно комбинировать медиа запросы с помощью логических операторов and or
	@media screen and (max-width: 1200), screen and (max-height: 700) {
		// Более сложный медиазапрос
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

// Подход мобаил фест - Верстаем от 320 и постепенно расширяя экран

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	// Строим фулскрин:
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	@include flexbox();
	flex-direction: column;
}
.main-screen {
	// Позволяем увеличиваться и запрещаем уменьшаться

	flex: 1 0 100%;
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.generation {
	background-color: #f7f7f7;
	padding: 120px 0px;
	@media (max-width: $md2+px) {
		padding: 80px 0px;
	}
	@media (max-width: $md3+px) {
		padding: 40px 0px;
	}

	.block {
		text-align: center;
		&__icon {
			margin: 0px 0px 30px 0px;
		}

		&__title {
			font-size: 18px;
			line-height: 1.2;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			color: #353738;
			margin: 0px 0px 18px 0px;
		}

		&__text {
			font-size: 18px;
			line-height: 34px;

			color: #848789;
			&-j {
				text-align: justify;
				font-size: 16px;
				line-height: 30px;
				color: #848789;
				&::after {
					content: "";
					display: block;
					margin: 35px auto 0 auto;
					width: 50px;
					height: 2px;
					background-color: rgba(53, 55, 56, 0.2);
					@media (max-width: $md1+px) {
						margin: 15px auto 0 auto;
						width: 30px;
						height: 1px;
					}
				}
			}
		}
	}

	//====================================================================================================

	.brands {
		&__last {
			@media (max-width: $md2+px) {
				.brands__column {
					&:nth-child(1) {
						@include flexorder(2);
					}
					&:nth-child(2) {
						@include flexorder(1);
					}
					&:nth-child(3) {
						@include flexorder(3);
					}
				}
			}
		}

		&__rev {
			.brands__column {
				// Меняем колонки местами:
				@include flexorder(1);
				&-b {
					@include flexorder(2);
				}
			}
			@media (max-width: $md2+px) {
				.brands__image {
					visibility: hidden;
					padding: 0;
				}
			}
		}
		&__row {
			@include flexbox();
			@media (max-width: $md2+px) {
				flex-direction: column;
			}
		}

		&__column {
			flex: 0 1 33.333%;
		}

		&__column-b {
			flex: 0 1 66.667%;
		}

		&__content {
			position: relative;
			padding: 70px 65px 80px 65px;
			@media (max-width: $md1+px) {
				padding: 40px 35px 40px 35px;
			}

			// Делаем белый треугольник снизу 20х10px
			&::after {
				content: "";
				z-index: 70;
				position: absolute;
				bottom: -10px;
				left: 50%;
				margin: 0px 0px 0px -10px;
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid rgb(255, 255, 255);
			}
		}

		&__image {
			padding: 0px 0px 37.51% 0px;
		}
	}
	.item {
		display: block;
		position: relative;
		height: 100%;
		@media (max-width: $md2+px) {
			height: auto;
			padding: 0px 0px 70% 0px;
		}
		&__logo {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			@include flexbox();
			flex-direction: column;
			@include anim(0.3s, 0s);
			justify-content: center;
			align-items: center;
			background-color: rgba(100, 194, 158, 0.6);
			z-index: 2;
			opacity: 0;
			visibility: hidden;
			span {
				display: block;
				margin: 10px 0px 0px 0px;
				font-size: 14px;
				font-weight: 700;
				letter-spacing: 2.8px;
				text-transform: uppercase;
				color: #fff;
			}
		}

		&__img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}

		&:hover {
			.item__logo {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	//====================================================================================================

	.slider {
		background-color: #f7f7f7;
		padding: 120px 0 60px 0;

		&__icon {
			margin: 0px 0px 35px 0px;
		}

		&__title {
			margin: 0px 0px 20px 0px;

			font-size: 18px;
			line-height: 1.2;
			font-weight: 700;
			letter-spacing: 0.1em;
			color: #353738;
			span {
				font-weight: 300;
				color: #848789;
			}
		}

		&__text {
			text-align: center;
			font-size: 24px;
			line-height: 34px;
			font-style: italic;
			color: #848789;
		}
	}

	//====================================================================================================
	.shop {
		&__body {
			@include flexbox();
		}

		&__column {
			flex: 0 1 16.666%;
		}

		&__column-b {
			flex: 0 1 33.333%;
		}

		&__footer {
			background-color: #282f35;
			padding: 75px 0;
			text-align: center;
		}

		&__btn {
			display: inline-block;

			// height: 50px;

			border: 1px solid rgba(255, 255, 255, 0.49);

			line-height: 50px;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			color: #ffffff;

			padding: 0 60px;

			@include anim(0.7s, 0s);
			&:hover {
				border: 1px solid rgba(245, 111, 200, 0.7);
			}
		}
		// Адаптивим секцию
		@media (max-width: $md2+px) {
			&__body {
				flex-wrap: wrap;
			}

			&__column {
				flex: 0 1 50%;
				&:first-child {
					flex: 0 1 100%;
				}
				&:last-child {
					flex: 0 1 100%;
				}
			}

			&__btn {
				padding: 0 30px;
			}

			&__footer {
				padding: 50px 0;
			}
		}
	}
	.block-shop {
		height: 100%;
		&__row {
			@include flexbox();
		}

		&__column {
			flex: 0 1 50%;
		}

		&__item {
			height: auto;
			padding: 0px 0px 50% 0px;
			&-b {
				padding: 0px 0px 200.5% 0px;
			}
			&-l {
				padding: 0px 0px 100% 0px;
			}
		}
	}

	//====================================================================================================

	.subscribe {
		&__body {
			max-width: 534px;
			margin: 0 auto;
			text-align: center;
			padding: 110px 0;
		}

		&__logo {
			display: inline-block;
			text-align: center;
			width: 200px;
			height: 110px;
			margin: 0px 0px 45px 0px;
		}

		&__label {
			font-family: Lato;
			font-size: 24px;
			line-height: 34px;
			font-weight: 400;
			font-style: italic;
			color: #848789;
			margin: 0px 0px 25px 0px;
		}

		&__form {
			@include flexbox();
		}

		&__input {
			flex: 1 1 auto;
			padding: 0px 8px 0px 0px;
			.input {
				width: 100%;
				height: 69px;
				background-color: #ffffff;
				border: 1px solid #d3d7d9;
				padding: 0 28px;

				font-size: 20px;
				line-height: 69px;
				font-style: italic;
				color: #929292;

				&.focus {
					color: #333;
					font-style: normal;
				}

				&.err {
					border: 1px solid red;
				}
			}
		}

		&__button {
			flex: 0 0 126px;
		}

		&__btn {
			width: 100%;
			height: 69px;
			background-color: #64c29e;
			line-height: 69px;

			color: #fff;
			font-size: 24px;
			font-weight: 300;
			text-transform: uppercase;
			&:hover {
				background-color: #46ac85;
			}
		}

		@media (max-width: $md3+px) {
			&__body {
				padding: 50px 0;
			}
		}

		@media (max-width: $md4+px) {
			&__form {
				display: block;
			}

			&__input {
				padding: 0;
				margin: 0px 0px 20px 0px;
			}
		}
	}
}

//====================================================================================================
//====================================================================================================
//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================
